$bg: #f6f9fe;
$blue-100: #2b71dc;
$blue-200: #1e345e;
$yellow-100: #f9d211;
$text-white-button: white;

// font-size
$text-title: 60px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 28px;
$text-4xl: 32px;

// box-shadow
$box-shadow-white: 0 2px 4px #e2ebfc;
